<div align="center">
    <h1>Flight Reservation System<img src="assets/flight.png" width="140px" height="70px"></h1>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <ul class="navbar-nav" style="margin-left:auto;margin-right: auto;">
                    <li class="nav-item "><a (click)="goHome()" routerLinkActive="active" class="nav-link"
                            class="btn btn-primary active">Home</a></li>
                    <li class="nav-item "><a routerLink="/view-airportlist"><button id="method" type="submit"
                                class="btn btn-primary active">View Airports</button></a></li>
                    <li class="nav-item "><a routerLink="/add-airport"><button id="method" type="submit"
                                class="btn btn-primary btn-block active">Add Airport</button></a></li>
                </ul>
            </nav>
            <div class="col-sm-2"></div>
        </div>
    </div>