<div>
   
    <div align=center>
        <h3><i>Hello Admin !</i></h3>
        <img src="assets/welcome.gif" width="150px" height="150px"><h2> What can I help you with ?</h2>
        <table>
            <tr>
                <td align="center"><a routerLink="/add-airport"><button id="method" type="submit"
                            class="btn btn-primary btn-lg btn-block">Add Airport</button></a></td>
                <td align="center"><a routerLink="/view-airportlist"><button id="method" type="submit"
                            class="btn btn-primary btn-lg btn-block">View Airports</button></a></td>
            </tr>
        </table>
    </div>
   
</div>