<div>
    <h3><i>Welcome Admin !</i></h3>
    <br><br>What can I help you with ?<br><br>
    <table>
        <tr>
            <td align="center"><a routerLink="/add-airport"><button id="method" type="submit"
                        class="btn btn-primary btn-lg btn-block">Add Airport</button></a></td>
            <td align="center"><a routerLink="/view-airportlist"><button id="method" type="submit"
                        class="btn btn-primary btn-lg btn-block">View Airports</button></a></td>
        </tr>

    </table>
</div>