<div class="row" style="margin-bottom: 100px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" *ngIf="airport">

        <table>
            <tr style="font-size: 24px;color: green;">
                <th>Airport Name</th>
                <th>Airport Code</th>
                <th>Airport Location</th>
            </tr>
            <tr>
                <td>{{airport.airportName}}</td>
                <td>{{airport.airportCode}}</td>
                <td>{{airport.airportLocation}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4"></div>
</div>