    <div>
        <h2>List of Airports</h2>
        <table class="table">

            <tr>
                <th>Airport Name</th>
                <th>Airport Code</th>
                <th>Airport Location</th>
            </tr>
            <tr *ngFor="let airport of airports">
                <td>1.{{airport.airportName}}</td>
                <td>2.{{airport.airportCode}}</td>
                <td>3.{{airport.airportLocation}}</td>
                <td><button class="btn btn-danger" (click)="deleteAirport(airport)"> Delete Airport</button></td>
            </tr>

        </table>
    </div>